<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= article.name %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/articles/create-art">Créer un article</a></li>
                <li><a href="/articles">Accueil</a></li>
                <li><a href="/users/logout">Se déconnecter</a></li>
            </ul>
        </nav>
    </header>
    <div class="container-product">
        <div class="product">
            <div class="product-image">
                <img src="<%= article.image %>" alt="<%= article.name %>">
            </div>
            <div class="product-details">
                <h1><%= article.name %></h1>
                <p class="product-code">Code Article: <%= article.codeArticle %></p>
                <p class="product-description"><%= article.description %></p>
                <p class="product-price">Prix: <%= article.price %> €</p>
                <p class="product-quantity">Quantité disponible: <%= article.quantity %></p>
                <p class="product-release-date">Date de sortie: <%= article.releaseDate.toDateString() %></p>
                <p class="product-platforms">Plateformes: <%= article.platforms.join(', ') %></p>
                <p class="product-genres">Genres: <%= article.genres.join(', ') %></p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>© 2024 Theoinc</p>
    </footer>
</body>
</html>
