<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/create-art">Créer un article</a></li>
                <li><a href="/">Accueil</a></li>
                <li><a href="/logout">Se déconnecter</a></li>
            </ul>
        </nav>
    </header>
            <div class="container">
                <h1>Articles Disponibles</h1>
                <div class="articles-list">
                    <% articles.forEach(article => { %>
                        <div class="article">
                            <img src="<%= article.image %>" alt="<%= article.name %>">
                            <a href="/article/<%= article.id %>">
                                <h2><%= article.name %></h2>
                            </a>
                            <p class="description"><%= article.description %></p>
                            <p class="price"><%= article.price %> €</p>
                            <p>Quantité disponible: <%= article.quantity %></p>
                        </div>
                    <% }); %>
                </div>
            </div>
    <footer class="footer">
        <p>© 2024 Theoinc</p>
    </footer>
</body>
</html>
